<h1>Let the games begin</h1>
Select a remote questions-file in json format.</br>
It must not be larger than 3MB and contain at least</br>
one question for each level.
The default given is such a file with German questions.
<%= form_tag(parse_json_path) do %>
  <%= text_field_tag 'json_url',
    'https://dl.dropboxusercontent.com/u/6848406/deutsch.json',
    {:size => 50}
  %>
  <br/>
  <%= submit_tag("Submit") %>
<% end %>
<p>Alternatives:</p>
<ul>
  <li>https://dl.dropboxusercontent.com/u/6848406/eazy.json</li>
  <li>https://dl.dropboxusercontent.com/u/6848406/more_questions.json</li>
</ul>
