<div>
  For <%= Game.winnings_table[@game.current_level][0] %>$:
</div>

<h4><%= @current_question.text %></h4>

<% @answers.each_with_index do |answer, index| %>
  <% @aud = @audience_joker[index] if not @audience_joker.nil?%>
  <% if @fifty_wrong.include?(index) %>
  <a href="#">
    <div class="answerbox" 
      style="background: linear-gradient(to right, #572085 <%=@aud%>%, #333 <%=@aud%>%);">
  </div>
</a>
    <% else %>
  <a href="<%= submit_answer_path(index) %>">
  <div class="answerbox"
      style="background: linear-gradient(to right, #572085 <%=@aud%>%, #333 <%=@aud%>%);">
      <%= @aud.to_s + '%) ' if not @audience_joker.nil? %> <%= @answers[index] %>
  </div>
</a>
    <% end %>
<% end %>

<div id="joker-wrapper">
  
  <a href="<%= fifty_fifty_path(@game.id) %>" >
  <div class="answerbox joker fifty <%= 'gone' if @game.fifty_used%> ">
    FIFTY FIFTY
  </div>
</a>
<a href="<%= audience_path(@game.id) %>" >
  <div class="answerbox joker audience <%= 'gone' if @game.audience_used%> ">
    AUDIENCE
  </div>
</a>
</div>
<br style="clear:both;"/>


<% @bank_msg = "Take " + number_to_currency(@game.cash_current) +" and quit?"%>
<div class="bankbox-wrapper">
  <%= link_to bank_money_path, data: {confirm: @bank_msg} do %>
    <div class="answerbox bankbox">
      Cash Out
  </div>
<% end %>
</a>
</div>

<p class="standings">You currently have <%= number_to_currency(@game.cash_current)%>
and a safety of <%= number_to_currency(@game.cash_safe)%>.</p>
