<table class="games-table">
  <tr>
    <th>Level</th>
    <th>Question</th>
    <th>Your Answer</th>
  <% @questions.each do |question| %>
    <tr <%=  question.solution == question.answered ?
 'bgcolor=#9eef7a' : 'bgcolor=#ff6161'%>  >
    <td align='left'><%= question.level %></td>
    <td align='right'><%= question.text %></td>
    <% given_answer = question.attributes["answer" + question.answered.to_s] %>
    <td align='right'><%= given_answer %></td>
  </tr>
<% end %>
</table>

<%= link_to "Go back", highscores_path %>
