<table class="games-table">
  <tr>
    <th>Date completed</th>
    <th>Amount won</th>
    <th></th>
  <% @games.each do |game| %>
    <tr>
    <td><%= game.updated_at %></td>
    <td align='right'><%= number_to_currency(game.cash_won) %></td>
    <td align='right'><%= link_to 'show questions', game_questions_path(game.id) %>
  </tr>
<% end %>
</table>
