.answerbox {
  border: 2px solid black;
  border-radius: 12px;
  padding:5px;
  background-color:#333;
  color: white;
  margin: 5px 0 5px 0;
  min-height: 35px;
  text-decoration:none;
  //background: linear-gradient(to right, red 50%, #333 50%);
}

.answerbox:hover{
  background-color:#fd8817;
  //color:#333;
  text-decoration:none;
}

.answerbox.disabled:hover{
  background-color:#333;
  color:#333;
  text-decoration:none;
}

.answerbox.bankbox {
  background-color: green;
  color: white;
  text-align:center;
  margin: auto;
}

#joker-wrapper {
  padding: 4px 0 4px 0;
  width:65%;
  margin: auto;
}

.answerbox.joker {
  background-color: #4b4ed2;
  text-align:center;
  margin: auto;
  float:left;
  width:45%;
}

.answerbox.joker.gone {
  background-color: #b8b9d2;
}
.answerbox.joker.audience {
  float: right;
}

.bankbox-wrapper {
  padding: 4px 0 4px 0;
  width: 50%;
  margin:auto;
}

a.disabled div {
  color: #333;
  pointer-events: none;
}

.standings{
  text-align: center;
}

#winnings-bg {
  background-image:url('dollarbg.png');
}

.amount-won {
  text-align:center;
  font-size: 65px;
}
