<a class="btn btn-default" href="<%= new_game_path %>" role="button">
  <span class="glyphicon glyphicon-play-circle"></span>
  Start New Game
</a>
<a class="btn btn-default" href="<%= play_path %>"
  role="button" <%= 'disabled="disabled"' if @game == nil %>>
  <span class="glyphicon glyphicon-share-alt"></span>
  Continue existing Game
</a>
